.right-footer {
  background-color: #121212;
  color: #fff;
  padding: 30px 20px;
}

.right-footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.right-footer-section {
  flex: 1;
  margin: 10px;
}

.right-footer-section h4 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.right-footer-section ul {
  list-style: none;
  padding: 0;
}

.right-footer-section ul li {
  margin: 5px 0;
}

.right-footer-section ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.right-footer-section ul li a:hover {
  text-decoration: underline;
}

.right-footer-social {
  margin: 10px 0px 10px 90px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.right-footer-social a {
  margin: 0 10px;
  color: #fff;
  font-size: 17px;
  background-color: #292929;
  padding: 8px 11px;
  border-radius: 50%;
}

.right-footer-social a:hover {
  background-color: #7e7e7e;
}


.right-footer-bottom {
  margin-top: 8px;
  padding-left: 25px;
  padding-bottom: 30px;
}

.right-footer-bottom p {
  margin: 0;
  color: rgb(167, 167, 167);
  font-size: 15px;
}
.right-footer hr{
    margin-left: 20px;
    padding: 8px 0px;
    width: 96%;
}